<div class="page">
  <h1><%= @user.first_name %> <%= @user.last_name %>'s Gallery</h1>

  <ul>
    <% @artworks.each do |artwork| %>
      <li>
        <%= render partial: 'artwork', locals: { artwork: artwork } %>
      </li>
    <% end %>
  </ul>

  <p><%= link_to "Upload Artwork", new_user_artwork_path(@user) %></p>
</div>
