<div class="page">
  <h1>The Artbook</h1>

  <p><%= link_to "Browse", signup_path %></p>
  <p>
    <% if signed_in? %>
      <%= link_to "Upload Artwork", new_user_artwork_path(@user) %>
    <% else %>
      <%= link_to "Upload Artwork", signin_path %>
    <% end %>
  </p>
</div>
