/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: url('http://www.vectorious.net/data/media/1/3768-watercolor%20background.jpg') repeat-x center top fixed;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

ul,li {
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
}

.art_title {
  font-size: large;
  font-weight: bold;
}

div.page {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  left: 15%;
  margin: 0 auto;
  margin-bottom: 100px;
  min-height: 350px;
  padding: 50px;
  position: absolute;
  width: 650px;
  z-index: 1;
}

  div.page img {
    border: 7px groove goldenrod;
  }

  div.page h1 {
    color: navy;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: bold;
  }

  div.page img.icon {
    border: 1px solid #000;
    height: 25px;
    width: 25px;
  }

div.navigation {
  background: #094c99; /* Old browsers */
  background: -moz-linear-gradient(left, #094c99 0%, #7db9e8 50%, #7db9e8 50%, #094c99 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#094c99), color-stop(50%,#7db9e8), color-stop(50%,#7db9e8), color-stop(100%,#094c99)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #094c99 0%,#7db9e8 50%,#7db9e8 50%,#094c99 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #094c99 0%,#7db9e8 50%,#7db9e8 50%,#094c99 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #094c99 0%,#7db9e8 50%,#7db9e8 50%,#094c99 100%); /* IE10+ */
  background: linear-gradient(to right, #094c99 0%,#7db9e8 50%,#7db9e8 50%,#094c99 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#094c99', endColorstr='#094c99',GradientType=1 ); /* IE6-9 */

  border-bottom: 10px ridge navy;
  border-top: 10px groove navy;
  margin-bottom: 50px;
  text-align: center;
}

  div.navigation img {
    height: 30%;
    width: 30%;
  }

div.signin {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  right: 10%;
  padding: 20px;
  padding-left: 35px;
  position: absolute;
  width: 225px;
  z-index: 100;
}

  div.signin .profile {
    border: 2px solid #000;
    height: 100px;
    width: 100px;
    overflow: hidden;
  }

    div.signin .profile img {
      height: 100px;
      width: 100px;
    }

  div.signin a {
    font-weight: bold;
    text-decoration:none;
  }

  div.signin a:hover {
    text-decoration:underline;
  }

div.followings {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-top: 20px;
  min-height: 50px;
  padding: 20px;
  position: absolute;
  right: 10%;
  top: 80%;
  width: 240px;
}

  div.followings img {
    border: 2px solid #000;
    height: 25px;
    width: 25px;
  }

  div.followings li {
    font-size: 20px;
  }

  div.followings a:link {
    color: #000;
    text-decoration: none;
  }

  div.followings a:hover {
    text-decoration: underline;
  }

span.search_query {
  color: #CC0000;
}
